body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: rgb(44, 41, 44);
  background-color: rgb(247, 239, 247);
}

#main-header {
  background-color: rgb(140, 0, 255);
  color: white;
  padding: 2rem 5%;
  text-align: center;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: rgb(140, 0, 255);
  border: 1px solid rgb(140, 0, 255);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: rgb(140, 0, 255);
}

.btn:hover {
  background-color: rgb(111, 19, 187);
  border-color: rgb(111, 19, 187);
}

.btn-alt:hover {
  background-color: rgb(190, 129, 240);
}

.modal {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#config-overlay {
  text-align: center;
}

#config-overlay h2 {
  margin: 0.5rem 0;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control input {
  font: inherit;
  border: 1px solid rgb(204, 204, 204);
  width: 15rem;
  padding: 0.35rem;
}

@media (min-width: 48rem) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
